  <div class="row">
    <div>
      <h2>
        💧Gripes💧
      </h2>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="gripes" align="left">
          <div *ngFor="let gripe of gripes">
              <div class="gripe">
                <span class="badge">
                  {{gripe.zipcode}}
                </span>
                <span class="gripe">
                    {{gripe.gripe}}
                </span>
                <span class="status">
                  is
                  <i>
                    {{gripe.status | uppercase}}
                  </i>
                </span>
                </div>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>

