<div class="container-fluid">
  <div class="row">
      <div align="middle" class="col-md-12">
          <!-- <img width="300px" alt="Water gripes" src="" /> -->
          <div>
            <h2>💧Gripes💧</h2></div>
          <div>
            <button type="button" class="btn btn-warning">
              <a routerLink="/addGripe">Add gripe</a>
            </button>
          </div>
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <div class="gripes" align="left">
                <div *ngFor="let gripe of gripes">
                  <a routerLink="/gripe/{{gripe.id}}">
                  <div class="gripe">
                    <span class="badge">
                      {{gripe.zipcode}}
                    </span>
                    <span class="gripe">
                      {{gripe.gripe}}
                    </span>
                    <span class="status">
                      is
                      <i>
                        {{gripe.status | uppercase}}
                      </i>
                    </span>
                  </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-md-3"></div>
          </div>
          </div>
        


  

