<div class="container-fluid">
  <div class="row">
      <div align="middle" class="col-md-12">
          <!-- <img width="300px" alt="Water gripes" src="" /> -->
          <div>
            <h2>💧Gripes💧</h2></div>
          <div>
            <button>
              <a routerLink="/addGripe">Add gripe</a>
            </button>
          </div>
              
          
      </div>
  </div>
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
            
      <ul class="gripes">
          <li *ngFor="let gripe of gripes">
            <a routerLink="/gripe/{{gripe.id}}">
              <div>
                <span class="badge">
                  {{gripe.zipcode}}
                </span>
                <span class="gripe">
                  {{gripe.gripe}}
                </span>
                <span class="status">
                  Status: {{gripe.status}}
                </span>
              </div>
            </a>
          </li>
        </ul>
  
    </div>
    <div class="col-md-3"></div>

  </div>
</div>

<!-- <h2>
  💧Gripes💧
  <button>
    <a routerLink="/addGripe">Add gripe</a>
  </button>
</h2> -->

<!-- <ul class="gripes">
  <li *ngFor="let gripe of gripes">
    <a routerLink="/gripe/{{gripe.id}}">
      <div>
        <span class="badge">
          {{gripe.zipcode}}
        </span>
        <span class="gripe">
          {{gripe.gripe}}
        </span>
        <span class="status">
          Status: {{gripe.status}}
        </span>
      </div>
    </a>
  </li>
</ul> -->
