<h2>
  💧Gripes💧
  <button>
    <a routerLink="/addGripe">Add gripe</a>
  </button>
</h2>

<ul class="gripes">
  <li *ngFor="let gripe of gripes"
   [class.selected]="gripe === selectedGripe" 
   (click)="onSelect(gripe)">
      <div>
        <span class="badge">
          {{gripe.zipcode}}
        </span>
        <span class="gripe">
          {{gripe.gripe}}
        </span>
        <span class="status">
          Status: {{gripe.status}}
        </span>
      </div>
  </li>
</ul>

<app-gripe-list-entry [gripe]="selectedGripe"></app-gripe-list-entry>